/Hardware reference/FRISTACK_CORE/FRISTACK_CORE-backups
/Hardware reference/FRISTACK_SENSOR_NODE/FRISTACK_SENSOR_NODE/FRISTACK_SENSOR_NODE-backups
Hardware reference/FRISTACK_CORE/FRISTACK_CORE_V_0.1.kicad_pcb
Hardware reference/FRISTACK_CORE/FRISTACK_CORE_V_0.1.kicad_pro
Hardware reference/FRISTACK_CORE/FriStack-core-production.zip
Hardware reference/FRISTACK_CORE/FRISTACK_CORE_V_0.1.kicad_sch
Hardware reference/FRISTACK_CORE/production/backups/FRISTACK_CORE_2025-03-31_14-47-38.zip
Hardware reference/FRISTACK_CORE/production/backups/FRISTACK_CORE_2025-03-31_14-52-56.zip
Hardware reference/FRISTACK_CORE/User_imports.pretty/jano.kicad_mod
