
!*.kicad_pro     
!*.kicad_sch      
!*.kicad_pcb      
!*.lib           
!*.kicad_sym      
!*.kicad_mod      
!*.net           

*.bak
*.tmp
*~
*.lck

*.dcm
*.html
*.pdf
*.ps
*.svg
*.png
*.txt
*.csv
*.xml

*.bom
*.gbr
*.gbo
*.gbs
*.gtl
*.gts
*.gbl
*.gko
*.drl
*.zip

*.cache
*.kicad_prl         
*.sch-bak
*.pcb-bak
*.tmp.*
*.bak.*

*.wrl
*.stp
*.step
*.iges
*.3dshapes/

*.net
*.spice
*.ibis
*.spectrum

fp-info-cache
fp-info-cache.json
*.autosave.kicad_pcb
*.autosave.kicad_sch

*.ipc
*.json
